@model BrewskiiApp.Models.BeerTypeViewModel

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>

<form asp-controller="Beers" asp-action="Index" method="get">
    <p>
        <select asp-for="beerTypes" asp-items="Model.beerTypes">
            <option value="">All</option>
        </select>

        Beer Name: <input type="text" name="SearchString" />
        <input type="submit" value="Filter" />
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.beers[0].BeerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.beers[0].DateTried)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.beers[0].BeerType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.beers[0].Rating)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.beers) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BeerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateTried)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BeerType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rating)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
